.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
  min-height: calc(100vh - 185px);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 40px;
  background-color: #FBF977;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.img {
  border-radius: 50%;
  border: 3px solid #337e2e;
}

.name {
  font-size: 30px;
  color: #337e2e;
  text-shadow: 2px 2px #71ca14;
}

.info {
  font-size: 24px;
  color: #337e2e;
}

.type {
  font-size: 20px;
  color: #71ca14;
}
