<section class="section">
  <div class="container">
    <div *ngIf="character$ | async as character">
      <div class="card">
        <img class="img" src="{{ character.image }}" alt="{{ character.name }}" width="250">
        <div class="info">
          <p class="name">{{ character.name }}</p>
          <p class="info"><span class="type">Status: </span>{{ character.status }}</p>
          <p class="info"><span class="type">Species: </span>{{ character.species }}</p>
          <p class="info"><span class="type">Gender: </span>{{ character.gender }}</p>
          <p class="info"><span class="type">Location: </span>{{ character.location.name }}</p>
          <p class="info"><span class="type">Episode count: </span>{{ character.episode.length }}</p>
        </div>

      </div>
    </div>
  </div>
</section>
