.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 185px);
}

.title {
  font-size: 50px;
  text-align: center;
  color: #71ca14;
  text-shadow: 3px 3px #337e2e;
}
