<section class="section">
<!--  <div *ngIf="loading$">Loading...</div>-->
  <div class="form">
    <app-form (searchCharactersEvent)="searchCharacter($event)"></app-form>
  </div>
  <div class="container">
    <div *ngFor="let character of characters">
      <div class="card">
        <img class="img" src="{{ character.image }}" alt="{{ character.name }}" width="250">
        <div class="cardInfo">
          <p class="name">{{ character.name }}</p>
          <p class="info"><span class="type">Gender: </span>{{ character.gender }}</p>
          <p class="info"><span class="type">Episode count: </span>{{ character.episode.length }}</p>
        </div>
<!--        <button class="button" [routerLink]="'/characters/' + character.id">Show more</button>-->
        <button class="button" [routerLink]="['/characters', character.id]">Show more</button>
      </div>
    </div>
  </div>
</section>
