/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/reset';
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  font-family: 'Gochi Hand', cursive;
  background-color: #71ca14;
}

a {
  text-decoration: none;
}
