<div class="container">
  <form [formGroup]="charactersForm" class="form">
    <input
      formControlName="name"
      class="input"
      type="text"
      placeholder="Search by name" />
    <select formControlName="gender" class="select">
      <option selected value="">No selection</option>
      <option
        *ngFor="let genderOption of genderOptions"
        [value]="genderOption.value">
        {{ genderOption.name }}
      </option>
    </select>
    <button class="button" (click)="searchCharacters()">Search</button>
  </form>
</div>

